<div class="customer-page">
    <div class="customer-account">
        <h1>Your Profile</h1>
        <!-- displaying customer data -->
        {{!-- editable fields --}}
        <table>
            <tr>
                <td class="profile-field">Customer ID</td>
                <td>{{customer.customerId}}</td>
            </tr>
            <tr>
                <td class="profile-field">Username</td>
                <td>{{customer.userid}}</td>
            </tr>
            <tr>
                <td class="profile-field">First Name</td>
                <td>{{customer.firstName}}</td>
            </tr>
            <tr>
                <td class="profile-field">Last Name</td>
                <td>{{customer.lastName}}</td>
            </tr>
            <tr>
                <td class="profile-field">Email</td>
                <td>{{customer.email}}</td>
            </tr>
            <tr>
                <td class="profile-field">Phone</td>
                <td>{{customer.phonenum}}</td>
            </tr>
            <tr>
                <td class="profile-field">Address</td>
                <td>{{customer.address}}, {{customer.city}}, {{customer.state}}, {{customer.postalCode}}, {{customer.country}}</td>
            </tr>
        </table>

        {{!-- submit button for the changes --}}
        <div class="profile-actions">
            <h2 class="navigate"><a href="/customerEdit">Edit Details</a></h2>
        </div>
    </div>
</div>