<div class="customer">
    <div class="container">
        <h1>Your Profile</h1>
        <!-- displaying customer data -->
        {{!-- editable fields --}}
        <table>
            <tr>
                <td class="profile-field">Customer ID</td>
                <td>{{customer.customer_id}}</td>
            </tr>
            <tr>
                <td class="profile-field">Username</td>
                <td>{{customer.username}}</td>
            </tr>
            <tr>
                <td class="profile-field">First Name</td>
                <td>{{customer.first_name}}</td>
            </tr>
            <tr>
                <td class="profile-field">Last Name</td>
                <td>{{customer.last_name}}</td>
            </tr>
            <tr>
                <td class="profile-field">Email</td>
                <td>{{customer.email}}</td>
            </tr>
            <tr>
                <td class="profile-field">Phone</td>
                <td>{{customer.phone_num}}</td>
            </tr>
            <tr>
                <td class="profile-field">Address</td>
                <td>{{customer.address}}, {{customer.city}}, {{customer.state}}, {{customer.postal_code}}, {{customer.country}}</td>
            </tr>
        </table>

        {{!-- submit button for the changes --}}
        <div class="profile-actions">
            <h2 class="navigate"><a href="/customer-edit">Edit Details</a></h2>
            <h2 class="navigate"><a href="/customer/orderHistory">Order History</a></h2>
        </div>
    </div>
</div>