<div class="customer-page">
    <div class="customer-account">
        <h1>Customer Profile</h1>
        <!-- displaying customer data -->
        {{!-- editable fields --}}
        <table>
            <tr>
                <td class="profile-field">First Name</td>
                <td><span id="firstName">{{customer.firstName}}</span></td>
                <td><button class="custom-button" data-field="firstName">Edit</button></td>
            </tr>
            <tr>
                <td class="profile-field">Last Name</td>
                <td><span id="lastName">{{customer.lastName}}</span></td>
                <td><button class="custom-button" data-field="lastName">Edit</button></td>
            </tr>
            <tr>
                <td class="profile-field">Email</td>
                <td><span id="email">{{customer.email}}</span></td>
                <td><button class="custom-button" data-field="email">Edit</button></td>
            </tr>
            <tr>
                <td class="profile-field">Phone</td>
                <td><span id="phonenum">{{customer.phonenum}}</span></td>
                <td><button class="custom-button" data-field="phonenum">Edit</button></td>
            </tr>
            <tr>
                <td class="profile-field">Address</td>
                <td>
                    <span id="address" class="field-value">
                        {{customer.address}}, {{customer.city}}, {{customer.state}}, {{customer.postalCode}}, {{customer.country}}
                    </span>
                </td>
                <td><button class="custom-button" data-field="address">Edit</button></td>
            </tr>
        </table>

        {{!-- submit button for the changes --}}
        <div class="profile-actions">
            <button id="submit-changes" class="custom-button">Submit Changes</button>
        </div>
    </div>
</div>