<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css"> <!-- linking to the CSS -->
        <title>{{title}}</title>
    </head>

    <body>
        <h1>Customer Profile</h1>
        <!-- displaying customer data -->
        <table>
            <tr><th>Id</th><td>{{customer.customerId}}</td></tr>
            <tr><th>First Name</th><td>{{customer.firstName}}</td></tr>
            <tr><th>Last Name</th><td>{{customer.lastName}}</td></tr>
            <tr><th>Email</th><td>{{customer.email}}</td></tr>
            <tr><th>Phone</th><td>{{customer.phonenum}}</td></tr>
            <tr><th>Address</th><td>{{customer.address}}</td></tr>
            <tr><th>City</th><td>{{customer.city}}</td></tr>
            <tr><th>State</th><td>{{customer.state}}</td></tr>
            <tr><th>Postal Code</th><td>{{customer.postalCode}}</td></tr>
            <tr><th>Country</th><td>{{customer.country}}</td></tr>
            <tr><th>User ID</th><td>{{customer.userid}}</td></tr>
        </table>
    </body>
</html>