<div class="main-page">
    {{!-- a little description of the website --}}
    <div class="hero-section">
        <h1>Welcome to Sim-ester</h1>
        <p> Home to the premier course simulation marketplace. Explore and purchase course simulation games for UBCO courses.</p>
        <p>Enjoy the UBCO experience at a fraction of the cost!</p>
        <div class="decorative-button">
            <p>Continue below for more information</p>
        </div>
    </div>

    {{!-- to separate the sections --}}
    <div class="divider"></div>

    {{!-- featured products --}}
    <div class="showcase">
        <h1 class="featured">Featured Products</h1>
        <div class="showcase-container">
            {{#each products}}
                <div class="showcase-product">
                    <h2>{{productName}}</h2>

                    {{#if productImageURL}}
                        <img src="{{productImageURL}}" alt="{{productName}}">
                    {{else}}
                        <!-- If productImageURL is not available, load directly from the database using displayImage -->
                        <img src="/displayImage?id={{productId}}" alt="{{productName}}">
                    {{/if}}
                    <div class="product-action">
                        <a href="product?id={{productId}}" >Details</a>
                    </div>
                </div>
            {{/each}}
        </div>
        <h2 class="navigate"><a href="/listprod">All Products</a></h2>
    </div>

    {{!-- <div class="divider"></div> --}}

    {{!-- About Us --}}
    <div class="about" id="about-us">
        <h1>About SIM-ESTER</h1>
        <div class="box">
            <h2>MISSION STATEMENT</h2>
            <p>At SIM-ESTER, our mission is to provide students with the opportunity to explore and experience courses through immersive simulation games. We aim to eliminate the financial barriers of traditional education, where a single course can cost $500 to $5,000. With our platform, learning becomes both affordable and engaging.</p>
        </div>
        <div class="box">
            <h2>OUR HISTORY</h2>
            <p>SIM-ESTER is a website designed to revolutionize how students experience education. Drawing from the inspiration of UBCO courses, SIM-ESTER’s main purpose is to provide current and prospective students the opportunity to experience a course without the steep monetary fees associated with it. With the rise of simulation-based games, the way students could experience academic courses became obvious. By combining university courses with a simulation-type experience, we at SIM-ESTER are able to provide students with an academic experience at a fraction of the cost.</p>
            <p>With deep roots in the simulation field, SIM-ESTER has managed to cut the costs of education while also making the experience more enjoyable. Each simulation is dynamic and interactive, providing a different experience for every student. Additionally, these simulations allow prospective students to test the courses as part of their academic career while also allowing them to explore new skills. This model thereby empowers students to make informed decisions about their academic careers.</p>
            <p>What sets SIM-ESTER apart is its commitment to making education both affordable and engaging. By offering affordable simulations, we encourage students to explore their interests without financial fear. As we continue to expand our library of simulations, we remain deeply rooted in our mission statement.</p>
        </div>
        <div class="box">
            <h2>Our President</h2>
            <img src="./images/gary.jpg" alt="Our president, Gary">
            <p>Gary the snail, President</p>
        </div>
    </div>   

</div>