<div class="main-page">
    {{!-- a little description of the website --}}
    <div class="hero-section">
        <h1>Welcome to Sim-ester</h1>
        <p> Home to the premier course simulation marketplace. Explore and purchase course simulation games for UBCO courses.</p>
        <p>Enjoy the UBCO experience at a fraction of the cost!</p>
        <div class="decorative-button">
            <p>Continue below for more information</p>
        </div>
    </div>

    {{!-- to separate the sections --}}
    <div class="divider"></div>

    {{!-- featured products --}}
    <div class="showcase">
        <h1 class="featured">Featured Products</h1>
        <div class="showcase-container">
            {{#each products}}
                <div class="showcase-product">
                    <h2>{{productName}}</h2>

                    {{#if productImageURL}}
                        <img src="{{productImageURL}}" alt="{{productName}}">
                    {{else}}
                        <!-- If productImageURL is not available, load directly from the database using displayImage -->
                        <img src="/displayImage?id={{productId}}" alt="{{productName}}">
                    {{/if}}
                    <div class="product-action">
                        <a href="product?id={{productId}}" >Details</a>
                    </div>
                </div>
            {{/each}}
        </div>
        <h2 class="navigate"><a href="/listprod">All Products</a></h2>
    </div>

    <div class="divider"></div>

    {{!-- About Us --}}
    <div class="about">

    </div>        
</div>