<div class="list-prod">
    <div class="list-prod-search">
        <h2>Search for Products</h2>

        <!-- product search bar & buttons -->
        <form method="get" action="/list-prod" class="search-form" id="searchForm">
            {{!-- category filter --}}
        <select class="category-select" name="category" id="categorySelect">
            {{!-- <option value="" {{#unless category}}selected{{/unless}}>Category</option> --}}
            <option value="" {{#unless category}}selected{{/unless}}>ALL</option>
            <option value="COSC" {{#if (eq category "COSC")}}selected{{/if}}>COSC</option>
            <option value="MATH" {{#if (eq category "MATH")}}selected{{/if}}>MATH</option>
            <option value="STAT" {{#if (eq category "STAT")}}selected{{/if}}>STAT</option>
        </select>
            {{!-- search for... --}}
            <input class="text-input" type="text" name="product_name" id="productNameInput" size="30" placeholder="Enter product name">
            <input class="custom-button" type="submit" value="Search">
        </form>
    </div>

    <script>
        // Get form and input elements
        const searchForm = document.getElementById('searchForm');
        const categorySelect = document.getElementById('categorySelect');
        const productNameInput = document.getElementById('productNameInput');

        // Trigger form submission on category change
        categorySelect.addEventListener('change', function() {
            // If "ALL" is selected, reset the form
            if (categorySelect.value === 'ALL') {
                searchForm.reset();
                categorySelect.value = 'ALL';
            } searchForm.submit(); // Submit the form after reset or category change
        });
    </script>

    {{!-- The products --}}
    <div class="products-container">
        {{#each products}}
        <div class="product-card" onclick="window.location.href='product?id={{id}}'" style="cursor: pointer;">
            <div class="product-name">
                <h2>{{name}}</h2>
            </div>
            <div class="product-price">
                ${{price}}
            </div>
            <div class="product-action">
                <a href="add-cart?id={{id}}&name={{name}}&price={{price}}">Add to cart</a>
            </div>
        </div>
        {{/each}}
        </div>
    </div>
</div>