{{!-- <title>SIM-ESTER Order Processing</title>  likely not needed? --}}
<div class="order-checkout">
    {{!-- Check if the cart is empty --}}
    {{#if emptyCart}}
        <h1>Your shopping cart is empty!</h1>

    {{!-- Show the order summary --}}
    {{else}}
        <div class="container">
            <h1>Your Order Summary</h1>
            <h2>Order Reference: {{order.id}}</h2>
            <p><strong>Customer Name:</strong> {{customer.firstName}} {{customer.lastName}}</p>
            <p><strong>Customer ID:</strong> {{customer.id}}</p>

            <h3>Products in this order:</h3>

            <table>
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Subtotal</th>
                </tr>
                {{#each items}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>${{this.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td>${{this.subtotal}}</td>
                </tr>
                {{/each}}
                <tr>
                    <td colspan="3" align="right"><b>Order Total</b></td>
                    <td>${{order.total}}</td>
                </tr>
            </table>
            <h2>Order completed. Will be available for download soon...</h2>
        </div>
    {{/if}}
</div>
