<div class="order-history">

    <div class="container">
        <h2>Order History</h2>
        <table>
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Order Date</th>
                    <th>Total Amount</th>
                    <th>Order Details</th>
                </tr>
            </thead>
            <tbody>
                {{#each orders}}
                    <tr>
                        <td>{{this.orderId}}</td>
                        <td>{{this.orderDate}}</td>
                        <td>${{this.totalAmount}}</td>
                        <td>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Product Name</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this.products}}
                                    <tr>
                                        <td>{{this.productName}}</td>
                                        <td>{{this.quantity}}</td>
                                        <td>{{this.price}}</td>
                                    </tr>
                        {{/each}}
                                </tbody>
                            </table>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>

        <p class="navigate"><a href="/customer">Back to account details</a></p>
    </div>    
</div>
