<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{productName}}</title>
</head>
<body>
    <div class="product-display">
        <h1>{{productName}}</h1>
        
        {{#if productImageURL}}
            <img src="{{productImageURL}}" alt="{{productName}}">
        {{else}}
            <!-- If productImageURL is not available, load directly from the database using displayImage -->
            <img src="/displayImage?id={{productId}}" alt="{{productName}}">
        {{/if}}

        <p>{{productDesc}}</p>
        <h3>Id: {{productId}}</h3>
        <h3>Price: ${{productPrice}}</h3>

        <h2 class="navigate"><a href="/addcart?id={{productId}}&name={{productName}}&price={{productPrice}}">Add to cart</a></h2>
        <h2 class="navigate"><a href="/listprod">Continue shopping</a></h2>
    </div>
</body>
</html>
