<div class="your-cart">
    <div class="container">
        {{#if productList}}
            <h1>Your Shopping Cart</h1>
                <table>
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Subtotal</th>
                        <th>Actions</th>
                    </tr>

                    {{#each productList}}
                        {{#if this}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>${{formatPrice this.price}}</td>
                                <td>
                                    <input type="number" id="{{this.id}}" value="{{this.quantity}}" min="1">
                                    <button class="custom-button" onclick="updateQuantity({{this.id}})">Update</button>
                                </td>
                                <td>${{multiply this.quantity this.price}}</td>
                                <td class="removeitem">
                                    <a href="/delete-item?id={{this.id}}">Remove from cart</a>
                                </td>
                            </tr>
                        {{/if}}
                    {{/each}}

                    <tr class="total">
                        <td colspan="3" align="right"><b>Order Total</b></td>
                        <td>${{formatPrice total}}</td>
                    </tr>
                </table>

            <div class="navigate-button">
                <p class="navigate"><a href="/checkout">Check Out</a></p>
                <p class="navigate"><a href="/list-prod">Continue Shopping</a></p>
            </div>
        {{else}}
                <h2>Your cart is empty!</h2>
                <p class="navigate"><a href="/list-prod">Continue Shopping</a></p>
        {{/if}}
    </div>
</div>

{{!-- script to update quantity of product(s) --}}
<script>
    function updateQuantity(id) {
        let quantity = document.getElementById(id).value;
        if (quantity < 1 || quantity > 100) {
            alert("Please enter a quantity between 1 and 100.");
            return;
        }
        window.location.href = `update-quantity?id=${id}&quantity=${quantity}`;
    }
</script>